<%= form_for @changeset, post_path(@conn, :create), fn f -> %>
  <dl>
    <dt>
      <label>Title</label>
    </dt>
    <dd>
      <%= text_input f, :title %>
    </dd>
  </dl>
  <dl>
    <dt>
      <label>Body</label>
    </dt>
    <dd>
      <%= text_input f, :body %>
    </dd>
    <dt>
      <%= label f, :channel_id, "Channel" %>
    </dt>
    <dd>
      <%= select f, :channel_id, @channels %>
    </dd>
  </dl>
  <%= submit "Submit" %>
<% end %>
