<section id="post_edit">
  <header class='page_head'>
    <h1>Edit Post</h1>
  </header>
  <%= render TilexWeb.PostView, "form.html", channels: @channels, changeset: @changeset, current_user: @current_user, action: post_path(@conn, :update, @post) %>
</section>
