<%= render TilexWeb.SharedView, "post.html",
  conn: @conn,
  post: @post,
  twitter_shareable: assigns[:twitter_shareable]
%>

<%= if TilexWeb.PostView.more_info?(@post.channel) do %>
  <div class="more-info">
    <%= render TilexWeb.SharedView, "_#{@post.channel.name}.html" %>
  </div>
<% end %>
