<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Today I Learned</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="icon" type="image/png" href="<%= static_path(@conn, "/favicon.png") %>">
  </head>

  <body>
    <header class="site_head">
      <div>
        <h1><a href="/">Today I Learned</a></h1>
        <h2><a href="https://hashrocket.com">A Hashrocket project</a></h2>
      </div>
    </header>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
