<section id="author">
  <header class="page_head">
    <h1>
      <%= developer_header(@posts_count, @developer) %>
    </h1>
  </header>
  <%= render Tilex.SharedView, "_posts_list.html", conn: @conn, posts: @posts %>
</section>

<%= render Tilex.SharedView, "_pagination.html", conn: @conn, page: @page, posts: @posts %>
