<main class={"container #{if Application.get_env(:tilex, :banner_image_source), do: "has-banner"}"}>
  <div id="flash">
    <%= if message = get_flash(@conn, :info) do %>
      <p class="alert alert-info" role="alert"><%= message %></p>
    <% end %>
  </div>
  <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
  <%= @inner_content %>
</main>
