<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <%= live_title_tag(page_title(assigns) || "Server Error", suffix: " - Today I Learned") %>

    <link href='//fonts.googleapis.com/css?family=Raleway:700,900&display=swap' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Lora:400,700italic,700,400italic&display=swap' rel='stylesheet' type='text/css'>

    <style>
      /* css/variables.css */
      :root {
        --primary-typeface: "Lora", "Helvetica Neue", Helvetica, sans-serif;
        --secondary-typeface: "Raleway", "Helvetica Neue", Helvetica, sans-serif;
        --news-typeface: "Limelight", sans-serif;
        --light: #d5e9f5;
        --light-ish: #acd3eb;
        --med: #92c4d1;
        --dark: #414347;
        --navy: #082736;
        --navy-light: rgba(8, 39, 54, 0.2);
        --red: #ae1f23;
        --purple: #7b185d;
        --pink: #ee7567;
        --green: #008800;
        --blue: #007dae;
        --blue-light: #00a2e1;
        --hashrocket-color: #ae1f23;
        --twitter-color: #006da3;
        --github-color: #4b4b4b;
      }

      /* css/normalize.css */
      html {
        font-family: sans-serif;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
      }

      body {
        margin: 0;
      }

      article,
      aside,
      details,
      figcaption,
      figure,
      footer,
      header,
      hgroup,
      main,
      menu,
      nav,
      section,
      summary {
        display: block;
      }

      audio,
      canvas,
      progress,
      video {
        display: inline-block;
        vertical-align: baseline;
      }

      audio:not([controls]) {
        display: none;
        height: 0;
      }

      [hidden],
      template {
        display: none;
      }

      a {
        background-color: transparent;
      }

      a:active,
      a:hover {
        outline: 0;
      }

      abbr[title] {
        border-bottom: 1px dotted;
      }

      b,
      strong {
        font-weight: bold;
      }

      dfn {
        font-style: italic;
      }

      h1 {
        font-size: 2em;
        margin: 0.67em 0;
      }

      mark {
        background: #ff0;
        color: #000;
      }

      small {
        font-size: 80%;
      }

      sub,
      sup {
        font-size: 75%;
        line-height: 0;
        position: relative;
        vertical-align: baseline;
      }

      sup {
        top: -0.5em;
      }

      sub {
        bottom: -0.25em;
      }

      img {
        border: 0;
      }

      svg:not(:root) {
        overflow: hidden;
      }

      figure {
        margin: 1em 40px;
      }

      hr {
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        height: 0;
      }

      pre {
        overflow: auto;
      }

      code,
      kbd,
      pre,
      samp {
        font-family: monospace, monospace;
        font-size: 1em;
      }

      button,
      input,
      optgroup,
      select,
      textarea {
        color: inherit;
        font: inherit;
        margin: 0;
      }

      button {
        overflow: visible;
      }

      button,
      select {
        text-transform: none;
      }

      button,
      html input[type=button],
      input[type=reset],
      input[type=submit] {
        -webkit-appearance: button;
        cursor: pointer;
      }

      button[disabled],
      html input[disabled] {
        cursor: default;
      }

      button::-moz-focus-inner,
      input::-moz-focus-inner {
        border: 0;
        padding: 0;
      }

      input {
        line-height: normal;
      }

      input[type=checkbox],
      input[type=radio] {
        box-sizing: border-box;
        padding: 0;
      }

      input[type=number]::-webkit-inner-spin-button,
      input[type=number]::-webkit-outer-spin-button {
        height: auto;
      }

      input[type=search] {
        -webkit-appearance: textfield;
        -moz-box-sizing: content-box;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
      }

      input[type=search]::-webkit-search-cancel-button,
      input[type=search]::-webkit-search-decoration {
        -webkit-appearance: none;
      }

      fieldset {
        border: 1px solid #c0c0c0;
        margin: 0 2px;
        padding: 0.35em 0.625em 0.75em;
      }

      legend {
        border: 0;
        padding: 0;
      }

      textarea {
        overflow: auto;
      }

      optgroup {
        font-weight: bold;
      }

      table {
        border-collapse: collapse;
        border-spacing: 0;
      }

      td,
      th {
        padding: 0;
      }

      /* css/reset.css */
      ul,
      ol {
        list-style: none;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      pre,
      code {
        font-size: 1em;
      }

      ul,
      ol,
      li,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      pre,
      form,
      body,
      html,
      p,
      blockquote,
      fieldset,
      input,
      dl,
      dt,
      dd,
      figure,
      figcaption,
      button {
        margin: 0;
        padding: 0;
      }

      a img,
      :link img,
      :visited img,
      fieldset {
        border: none;
      }

      address {
        font-style: normal;
      }

      header,
      section,
      article,
      nav,
      footer,
      hgroup,
      details,
      summary,
      figure,
      main {
        display: block;
      }

      mark {
        color: inherit;
        background: transparent;
      }

      abbr {
        border: none;
      }

      summary::-webkit-details-marker {
        display: none;
      }

      /* css/layout.css */
      @font-face {
        font-family: notosans;
        src: url(https://webfonts.zohowebstatic.com/notosans/font.eot?#iefix) format("embedded-opentype"), url(https://webfonts.zohowebstatic.com/notosans/font.woff2) format("woff2"), url(https://webfonts.zohowebstatic.com/notosans/font.woff) format("woff"), url(https://webfonts.zohowebstatic.com/notosans/font.ttf) format("truetype");
        font-weight: 400;
      }

      @font-face {
        font-family: "Lora";
        src: url(/fonts/Lora-Bold.woff2) format("woff2");
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        unicode-range: U0-0FF, U131, U152-153, U2BB-2BC, U2C 6, U2DA, U2DC, U2000-206F, U2074, U20AC, U2122, U2191, U2193, U2212, U2215, UFEFF, UFFFD;
      }

      @font-face {
        font-family: "Lora";
        src: url(/fonts/Lora-Regular.woff2) format("woff2");
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        unicode-range: U0-0FF, U131, U152-153, U2BB-2BC, U2C 6, U2DA, U2DC, U2000-206F, U2074, U20AC, U2122, U2191, U2193, U2212, U2215, UFEFF, UFFFD;
      }

      html {
        font-size: 62.5%;
      }

      body {
        -webkit-text-size-adjust: none;
        -webkit-font-smoothing: antialiased;
        background: var(--light);
        color: var(--dark);
        font-family: var(--primary-typeface);
        font-size: 1.6em;
      }

      header.site_head {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        z-index: 1;
        padding: 2vw 6vw;
        text-align: center;
      }

      header.site_head div {
        display: inline-block;
        position: relative;
      }

      header.site_head a {
        display: block;
        font-family: var(--secondary-typeface);
        text-transform: uppercase;
        color: var(--navy);
        letter-spacing: 0.1em;
        font-weight: 900;
        font-size: 7vw;
        line-height: 1;
      }

      header.site_head h2 {
        margin-right: 1vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        margin-top: 1rem;
        gap: 0.5rem 1.5rem;
      }

      header.site_head h2 a {
        text-align: right;
        font-size: 1.4rem;
        font-weight: 700;
        display: flex;
        gap: 0.5rem;
        align-items: center;
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
      }

      header.site_head h2 a.hr {
        color: var(--red);
      }

      header.site_head h2 a.twitter {
        color: var(--twitter-color);
      }

      @media screen and (max-width: 480px) {
        header.site_head {
          z-index: 100;
          background: #fff;
          text-align: right;
          background: rgba(255, 255, 255, 0.9);
          border: 0.2rem solid rgba(255, 255, 255, 0.9);
          padding-right: 1rem;
          padding-bottom: 0;
        }

        header.site_head h2 {
          position: static;
        }
      }

      .channel_header {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
      }

      .channel_header a {
        color: var(--navy);
      }

      .admin_panel {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        font-family: var(--secondary-typeface);
        font-weight: 700;
        font-size: 0.8em;
        text-align: center;
        z-index: 999;
      }

      .admin_panel ul {
        display: inline-block;
        background: rgba(255, 255, 255, 0.9);
        border: 0.2rem solid rgba(255, 255, 255, 0.9);
        border-top: none;
      }

      @media screen and (max-width: 480px) {
        .admin_panel ul {
          display: block;
        }
      }

      .admin_panel li {
        display: inline-block;
      }

      .admin_panel li a {
        display: block;
        padding: 0.5rem 1rem;
        color: var(--blue);
        line-height: 1.5rem;
      }

      .admin_panel li a:hover {
        color: var(--red);
      }

      .admin_panel+.site_head {
        margin-top: 2.5rem;
      }

      .admin_panel+.site_head+main {
        padding-top: 2.5rem;
      }

      main {
        position: relative;
        min-height: 60vh;
        margin: 15vw 0 7rem 0;
        z-index: 2;
      }

      @media screen and (max-width: 800px) {
        main {
          margin-top: 18vw;
        }
      }

      @media screen and (max-width: 480px) {
        main {
          margin-top: 30vw;
        }
      }

      header.page_head {
        text-align: center;
      }

      header.page_head h1 {
        font-size: 3rem;
        margin-bottom: 1em;
        color: var(--navy);
      }

      @media screen and (max-width: 800px) {
        header.page_head h1 {
          font-size: 2rem;
        }
      }

      header.page_head a.author_twitter {
        color: var(--twitter-color);
      }

      #flash {
        position: fixed;
        top: 0;
        left: 15vw;
        right: 15vw;
        z-index: 1000;
        text-align: center;
      }

      @media screen and (max-width: 480px) {
        #flash {
          left: 5vw;
          right: 5vw;
        }
      }

      #flash p {
        background: #fff;
        border: 5px solid var(--navy);
        border-top: 0;
        color: var(--navy);
        padding: 2vw;
        font-size: 1.4em;
        cursor: pointer;
        opacity: 0.9;
      }

      @media screen and (max-width: 800px) {
        #flash p {
          font-size: 1.2em;
        }
      }

      @media screen and (max-width: 480px) {
        #flash p {
          font-size: 1em;
        }
      }

      #flash p.error {
        border-color: var(--red);
        color: var(--red);
      }

      /* css/components.css */
      a {
        text-decoration: none;
        color: var(--red);
      }

      nav.pagination {
        max-width: 40rem;
        margin: 4rem auto;
        text-align: center;
      }

      nav.pagination a {
        background: rgba(255, 255, 255, 0.9);
        border: 0.2rem solid rgba(255, 255, 255, 0.9);
        display: inline-block;
        padding: 0.8rem 2rem;
        margin: 0 0.5rem;
        font-family: var(--secondary-typeface);
        text-transform: uppercase;
        font-weight: bold;
        font-size: 0.8em;
        transition: opacity 0.2s, color 0.2s;
        color: var(--blue);
      }

      nav.pagination a:hover {
        background: #fff;
      }

      .post {
        display: flex;
        align-items: flex-start;
        margin-bottom: 3vw;
        justify-content: center;
      }

      .post:after {
        content: "";
        clear: both;
        display: block;
        height: 0;
        overflow: hidden;
        visibility: hidden;
      }

      @media screen and (max-width: 480px) {
        .post {
          display: block;
          padding: 0 1rem;
        }
      }

      .post.draft {
        opacity: 0.8;
      }

      .post section {
        flex: 0 1 auto;
        box-sizing: border-box;
        min-width: 35rem;
        max-width: 60%;
        background: rgba(255, 255, 255, 0.9);
        border: 0.2rem solid rgba(255, 255, 255, 0.9);
      }

      @media screen and (max-width: 480px) {
        .post section {
          max-width: none;
          min-width: 0;
        }
      }

      .post .post__content {
        overflow: auto;
        padding: 4vw;
      }

      .post .post__content h1:first-of-type a {
        color: inherit;
        display: block;
        transition: color 0.1s;
      }

      .post .post__content h1:first-of-type a:hover {
        color: var(--red);
      }

      .post footer {
        font-style: italic;
        text-align: right;
        margin-top: 2em;
      }

      .post footer:after {
        content: "";
        clear: both;
        display: block;
        height: 0;
        overflow: hidden;
        visibility: hidden;
      }

      .post footer p {
        float: right;
        margin: 0;
        line-height: 1;
      }

      .post footer p.post__social {
        float: left;
      }

      .post footer a {
        color: inherit;
      }

      .post footer a.post__permalink {
        font-size: 0.8em;
      }

      .post footer a:hover {
        text-decoration: underline;
      }

      .post aside ul {
        display: flex;
        width: 100%;
        white-space: nowrap;
        flex-wrap: wrap;
      }

      .post aside ul li {
        flex: 1 1 auto;
        padding: 0 0.2rem;
      }

      .post aside ul a {
        display: block;
        padding: 1rem 2rem;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.3rem;
        font-family: var(--secondary-typeface);
        transition: padding-left 0.1s;
        border-top: 0.2rem solid var(--med);
        text-align: center;
        line-height: 2rem;
        background: transparent;
        transition: background 0.1s;
      }

      .post aside ul a:hover {
        background-color: #fff;
      }

      .post aside ul a.post__raw-link {
        border-color: var(--purple);
        color: var(--purple);
      }

      .post aside ul a.post__tag-link {
        border-color: var(--green);
        color: var(--green);
      }

      .post aside ul a.post__permalink {
        border-color: var(--blue);
        color: var(--blue);
      }

      .post aside ul a.post__edit-link {
        border-color: #aaa;
        color: #aaa;
      }

      ul.post_list li {
        padding: 0.2rem;
        margin: 0.2rem 0;
        background: rgba(255, 255, 255, 0.9);
        border: 0.2rem solid rgba(255, 255, 255, 0.9);
      }

      ul.post_list li a {
        display: flex;
        position: relative;
        align-items: center;
        padding: 0.5rem;
        color: var(--dark);
        font-weight: bold;
        z-index: 1;
        justify-content: space-between;
      }

      ul.post_list li a b {
        flex: 1;
      }

      ul.post_list li a small {
        flex: 0 0 auto;
        font-style: italic;
        float: right;
        text-align: right;
        white-space: nowrap;
        padding-left: 1rem;
        color: var(--blue);
      }

      ul.post_list li a small span {
        opacity: 0.5;
        margin: 0 0.3rem;
      }

      ul.post_list li a:before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        bottom: 0;
        right: 100%;
        background: #fff;
        transition: right 0.1s;
        z-index: -1;
      }

      ul.post_list li a:hover:before {
        right: 0;
      }

      form .field_with_errors {
        display: inline;
      }

      form .formError {
        display: inline;
        color: var(--red);
        font-size: 0.85em;
      }

      form .CodeMirror {
        font-size: 2rem;
      }

      form label {
        font-weight: bold;
      }

      form label.checkbox {
        display: block;
        margin-bottom: 1.5em;
      }

      form label.checkbox input[type=checkbox] {
        margin-right: 1rem;
      }

      form dl dt {
        margin-bottom: 0.5rem;
      }

      form dl dt:after {
        content: "";
        clear: both;
        display: block;
        height: 0;
        overflow: hidden;
        visibility: hidden;
      }

      form dl dt small {
        float: right;
        font-weight: bold;
        font-size: 0.85em;
        color: var(--navy);
      }

      form dl dt small.negative {
        color: var(--red);
      }

      form dl dd {
        margin-bottom: 1.5em;
      }

      form fieldset.actions {
        padding-top: 2rem;
      }

      form input[type=text],
      form input[type=search],
      form textarea {
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        padding: 0.5rem;
        border: 1px solid var(--light);
        font-family: var(--primary-typeface);
        box-sizing: border-box;
        border-radius: 0;
        height: 4rem;
        line-height: 3rem;
      }

      form input[type=text]:focus,
      form input[type=search]:focus,
      form textarea:focus {
        border-color: var(--blue);
        outline: none;
      }

      form #editor {
        height: 300px;
        width: 100%;
        display: none;
      }

      form textarea.autosize {
        resize: none;
      }

      form input[type=submit],
      form button[type=submit] {
        color: #fff;
        display: inline-block;
        vertical-align: middle;
        box-sizing: border-box;
        padding: 1rem 2rem;
        border: none;
        border-radius: 0;
        background: var(--navy);
        height: 4rem;
        font-weight: 700;
        font-family: var(--secondary-typeface);
        letter-spacing: 0.1em;
        text-transform: uppercase;
        transform: background 0.1s;
        margin-right: 2rem;
      }

      @media screen and (max-width: 800px) {

        form input[type=submit],
        form button[type=submit] {
          padding: 1rem;
        }
      }

      form input[type=submit]:active,
      form button[type=submit]:active,
      form input[type=submit]:focus,
      form button[type=submit]:focus,
      form input[type=submit]:hover,
      form button[type=submit]:hover {
        background: var(--red);
        outline: none;
      }

      @media screen and (max-width: 480px) {
        .copy {
          font-size: 0.85em;
        }
      }

      .copy h1,
      .copy h2,
      .copy h3,
      .copy p,
      .copy ul,
      .copy ol {
        margin: 0 0 1.2em 0;
      }

      @media screen and (max-width: 480px) {

        .copy h1,
        .copy h2,
        .copy h3,
        .copy p,
        .copy ul,
        .copy ol {
          margin-bottom: 0.7em;
        }
      }

      .copy h1 {
        font-size: 1.6em;
      }

      .copy h2,
      .copy h3 {
        font-size: 1.2em;
      }

      .copy p,
      .copy ul,
      .copy ol {
        line-height: 1.6;
      }

      .copy ul,
      .copy ol {
        padding: 0 6vw;
      }

      .copy ul {
        list-style-type: disc;
      }

      .copy ol {
        list-style-type: decimal;
      }

      .copy li+li {
        margin-top: 0.2em;
      }

      .copy code {
        background: var(--light);
        padding: 0 0.4em;
        margin: 0 0.2em;
      }

      .copy pre {
        background: var(--dark);
      }

      .copy pre {
        margin-bottom: 1em;
        overflow: auto;
      }

      .copy pre code {
        color: #fff;
        display: block;
        padding: 0.5em;
        margin: 0;
        width: 100%;
        box-sizing: border-box;
        line-height: 1.6;
        overflow: auto;
        background: var(--dark);
      }

      @media screen and (max-width: 480px) {
        .copy pre code {
          padding: 0.5em;
          font-size: 0.9em;
        }
      }

      .copy pre[data-language]:before {
        display: block;
        content: attr(data-language);
        color: #fff;
        background-color: #333;
        font-weight: bold;
        font-size: 0.7em;
        text-transform: uppercase;
        padding: 0.2rem 0.5rem;
        text-align: right;
        color: #aaa;
        font-family: var(--secondary-typeface);
      }

      .copy code {
        font-size: 95%;
      }

      .copy img {
        display: block;
        max-width: 100%;
        height: auto;
      }

      .copy blockquote {
        margin-bottom: 1.4em;
        border-left: 0.4rem solid var(--light);
        padding: 1em 0 0.1em 3vw;
        font-size: 0.9em;
      }

      @media screen and (max-width: 800px) {
        .copy blockquote {
          margin-bottom: 1.1em;
        }
      }

      .loading-indicator {
        align-items: center;
        background: rgba(0, 0, 0, 0.6);
        color: var(--light);
        display: none;
        height: 100%;
        justify-content: center;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;
      }

      .loading-indicator svg path,
      .loading-indicator svg rect {
        fill: var(--blue);
      }

      .loading-indicator .content {
        align-items: center;
        background: rgba(0, 0, 0, 0.7);
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        padding: 3rem;
      }

      .more-info {
        margin: 3vw auto;
        text-align: center;
        padding: 3vw;
        max-width: 60rem;
        font-style: italic;
        line-height: 1.4;
        font-size: 0.9em;
      }

      .more-info a {
        color: var(--red);
      }

      /* css/icons.css */
      .icon-small {
        height: 1.8rem;
        width: 1.8rem;
      }

      .icon-medium {
        height: 2.4rem;
        width: 2.4rem;
      }

      .icon-large {
        height: 3.2rem;
        width: 3.2rem;
      }

      .icon-hashrocket {
        color: var(--hashrocket-color);
      }

      .icon-twitter {
        color: var(--twitter-color);
      }

      .icon-github {
        color: var(--github-color);
      }
    </style>
  </head>
  <body>
    <header class="site_head">
      <div>
        <h1><a href="/">Today I Learned</a></h1>
        <h2>
          <a href="https://hashrocket.com" class="hr">
            <svg aria-labelledby="title" class="icon icon-hashrocket icon-small">
              <title lang="en">hashrocket</title>
              <use href="/images/icons.svg#hashrocket"></use>
            </svg>
            A Hashrocket project
          </a>
          <a href="https://twitter.com/hashrocket" class="twitter">
            <svg aria-labelledby="title" class="icon icon-twitter icon-small">
              <title lang="en">twitter</title>
              <use href="/images/icons.svg#twitter"></use>
            </svg>
            Follow on Twitter
          </a>
        </h2>
      </div>
    </header>
    <main>
      <%= @inner_content %>
    </main>
  </body>
</html>
