<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>

    <%= live_title_tag(page_title(assigns) || "Tilex", suffix: " - Today I Learned") %>

    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>

    <% description = "TIL is an open-source project by Hashrocket that exists to catalogue the sharing & accumulation of knowledge as it happens day-to-day." %>
    <% image = twitter_image_url(assigns[:post]) %>

    <meta itemprop="name" content="Today I Learned">
    <meta itemprop="brand" content="Today I Learned">
    <meta itemprop="description" content={description} />

    <script type="application/ld+json">
      <%= assigns |> Map.get_lazy(:structured_data_ld, &organization_ld/0) |> to_ld_json() %>
    </script>

    <meta name="author" content={Application.get_env(:tilex, :organization_name)}>
    <meta name="description" content={description}>
    <meta name="format-detection" content="telephone=no">
    <meta name="image" property="og:image" content={image}>

    <meta property="og:description" content={description}>
    <meta property="og:title" content="Today I Learned">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://til.hashrocket.com">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content={"@#{Application.get_env(:tilex, :default_twitter_handle)}"}>
    <meta name="twitter:description" content={twitter_description(assigns[:post])}>
    <meta name="twitter:image" content={image}>
    <meta name="twitter:site" content={"@#{Application.get_env(:tilex, :default_twitter_handle)}"}>
    <meta name="twitter:title" content={twitter_title(assigns[:post])}>

    <%= if assigns[:meta_robots] do %>
      <meta name="robots" content={assigns[:meta_robots]}>
    <% end %>

    <link href='//fonts.googleapis.com/css?family=Raleway:700,900&display=swap' rel='stylesheet' type='text/css'>
    <link rel="alternate" type="application/rss+xml" title="Today I Learned" href={Routes.feed_path(@conn, :index)}>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/atom-one-dark.min.css">

    <%= if assigns[:canonical_url] do %>
      <link rel="canonical" href={@canonical_url}>
    <% end %>
    <link rel="manifest" href={Routes.web_manifest_path(@conn, :index)}>

    <%= if request_tracking() do %>
      <script async src={Routes.pixel_path(@conn, :index)}></script>
    <% end %>
  </head>

  <body>
    <%= if developer = current_user(@conn) do %>
      <nav class="admin_panel">
        <ul>
          <li> <%= link(developer.username, to: Routes.developer_path(@conn, :show, developer)) %> </li>
          <li> <%= link("Sign Out", to: Routes.auth_path(@conn, :delete), method: :delete) %> </li>
          <li> <%= link("Create Post", to: Routes.post_path(@conn, :new)) %> </li>
          <li> <%= link("Profile", to: Routes.developer_path(@conn, :edit)) %> </li>
        </ul>
      </nav>
    <% end %>

    <%= render "site_nav.html", conn: @conn %>

    <header class={"site_head"}>
      <%= if Application.get_env(:tilex, :banner_image_source) do %>
        <div class="banner_image">
          <a href={Application.get_env(:tilex, :banner_image_link)}>
            <img src={Application.get_env(:tilex, :banner_image_source)} alt={Application.get_env(:tilex, :banner_image_alt)}>
          </a>
        </div>
      <% end %>

      <div>
        <h1><%= link("Today I Learned", to: Routes.post_path(@conn, :index)) %></h1>
        <h2>
          <a href="https://hashrocket.com" class="hr">
            <%= icon("hashrocket", :small) %>
            A Hashrocket project
          </a>
          <a href={"https://twitter.com/#{Application.get_env(:tilex, :default_twitter_handle)}"} class="twitter">
            <%= icon("twitter", :small) %>
            Follow on Twitter
          </a>
          <a href={"https://bsky.app/profile/#{Application.get_env(:tilex, :default_bluesky_handle)}"} class="bluesky">
            <%= icon("bluesky", :small) %>
            Follow on Bluesky
          </a>
        </h2>
      </div>
    </header>

    <%= @inner_content %>

    <script>
      window.Tilex = window.Tilex || {};
      window.Tilex.clientConfig = {
        editor: '<%= editor_preference(@conn) %>',
        imgurApiKey: '<%= imgur_api_key(@conn) %>',
      };
    </script>

    <%= if ga_identifier() do %>
      <script>
        (function(i, s, o, g, r, a, m) {
          i['GoogleAnalyticsObject'] = r;
          (i[r] =
            i[r] ||
            function() {
              (i[r].q = i[r].q || []).push(arguments);
            }), (i[r].l = 1 * new Date());
          (a = s.createElement(o)), (m = s.getElementsByTagName(o)[0]);
          a.async = 1;
          a.src = g;
          m.parentNode.insertBefore(a, m);
        })(
          window,
          document,
          'script',
          'https://www.google-analytics.com/analytics.js',
          'ga'
        );

        ga('create', '<%= ga_identifier() %>', 'auto');
        ga('send', 'pageview');
      </script>
    <% end %>
  </body>
</html>
