<main>
  <div id="profile_edit">
    <header class="page_head">
      <h1>My Profile</h1>
    </header>
    <%= form_for @changeset, Routes.developer_path(@conn, :update), [id: "edit-form"], fn f -> %>
      <dl>
        <dt>
          <%= label f, :email %>
          <%= error_tag f, :email %>
        </dt>
        <dd>
          <%= Guardian.Plug.current_resource(@conn).email %>
        </dd>
        <dt>
          <%= label f, :twitter_handle %>
          <%= error_tag f, :twitter_handle %>
        </dt>
        <dd>
          <%= text_input f, :twitter_handle, placeholder: "Enter name..." %>
        </dd>
        <dt>
          <%= label f, :editor %>
          <%= error_tag f, :editor %>
        </dt>
        <dd>
          <%= select f, :editor, ["Text Field", "Vim", "Code Editor"] %>
        </dd>
      </dl>
      <%= submit "Submit" %>
      <%= link("cancel", to: Routes.post_path(@conn, :index)) %>
    <% end %>

    <%= form_for @conn, Routes.developer_path(@conn, :generate_api_key), [method: :post, id: "mcp-api-key-form"], fn _f -> %>
      <dl>
        <%= if mcp_signed_token = assigns[:mcp_signed_token] do %>
          <dt>
            <label>MCP API KEY</label>
          </dt>
          <dd class="copy">
            <pre class="language-shell"><code class="shell language-shell"><%= mcp_signed_token %></code></pre>
          </dd>
          <dt>
            <label>Add into Claude Code</label>
          </dt>
          <dd class="copy">
            <pre class="language-shell"><code class="shell language-shell">claude mcp add --scope user --transport http \
  til <%= TilexWeb.Endpoint.url()<> "/mcp" %> \
  --header "X-API-KEY: <%= mcp_signed_token %>";</code></pre>
          </dd>
          <dt>
            <label>Add into Cursor</label>
          </dt>
          <dd class="copy">
            <pre class="language-json"><code class="json language-json">{
  "mcpServers": {
    "til": {
      "url": "<%= TilexWeb.Endpoint.url()<> "/mcp" %>",
      "headers": {
        "X-API-KEY": "<%= mcp_signed_token %>"
      }
    }
  }
}</code></pre>
          </dd>
        <% else %>
          <%= if !!@developer.mcp_api_key do %>
            <dt>
              You've already generated a MCP API KEY, but for security reasons we can't retrieve it.
            </dt>
            <dd>
              You must regenerate a new one and setup the MCP server again.
            </dd>
          <% else %>
            <dt>
              You've never generated a MCP API KEY yet
            </dt>
          <% end %>
        <% end %>
      </dl>
      <%= submit "Generate new MCP API Key" %>
    <% end %>
  </div>
</main>
