@mixin wrapper {
  max-width: 82rem;
  padding: 0 6vw;
  margin: 0 auto 2vw auto;

  @include tablet {
    padding: 0 3vw;
  }


  @include mobile {
    display: block;
  }
}

@mixin box-outline {
  background: transparentize(#fff, 0.1);
  border: 0.2rem solid transparentize(#fff, 0.1);
}

@mixin header-text {
  font-family: $secondary-typeface;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 900;
}
