$primary-typeface: "Lora", "Helvetica Neue", Helvetica, sans-serif;
$secondary-typeface: "Raleway", "Helvetica Neue", Helvetica, sans-serif;
$news-typeface: "Limelight", sans-serif;

$light: #d5e9f5;
$med: #92c4d1;
$dark: #414347;

$navy: #082736;
$red: #ae1f23;
$cyan: #33d6ea;
$pink: #ee7567;
$green: #10ca97;
$blue: #67acdb;

$twitter-color: #55acee;
$github-color: #4b4b4b;

$base: $dark;
$bg: $light;
$accent: $navy;
$error: $red;

$colors: (
  #5cc3ff,
  #ff6d40,
  #5dde90,
  #f2d56d,
  #f29de4
)
