// Mercury.scss
// version 0.1.2
// github.com/hashrocket/mercury

// Options

$site-width-max: 1400px !default;
$site-width-mid: 800px !default;
$site-width-narrow: 480px !default;

// Responsive mixins

@mixin min-width($width) {
  @media screen and (min-width: #{$width}) {
    @content;
  }
}

@mixin max-width($width) {
  @media screen and (max-width: #{$width}) {
    @content;
  }
}

@mixin tablet {
  @include max-width($site-width-mid) {
    @content;
  }
}

@mixin mobile {
  @include max-width($site-width-narrow) {
    @content;
  }
}

@mixin responsive($attr, $full, $mid:false, $narrow:false) {
  #{$attr}: #{$full};
  @if $mid {
    @include max-width($site-width-mid) {
      #{$attr}: #{$mid};
    }
  }
  @if $narrow {
    @include max-width($site-width-narrow) {
      #{$attr}: #{$narrow};
    }
  }
}

// Clearfix

@mixin clearfix {
  &:after {
    content: "";
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
}
