// Mercury.scss
// version 0.1.2
// github.com/hashrocket/mercury

// Options

$site-width-max: 1400px !default;
$site-width-mid: 800px !default;
$site-width-narrow: 480px !default;

// Responsive mixins

@mixin min-width($width) {
  @media screen and (min-width: #{$width}) {
    @content;
  }
}

@mixin max-width($width) {
  @media screen and (max-width: #{$width}) {
    @content;
  }
}

@mixin tablet {
  @include max-width($site-width-mid) {
    @content;
  }
}

@mixin mobile {
  @include max-width($site-width-narrow) {
    @content;
  }
}

@mixin max {
  @include min-width($site-width-max) {
    @content;
  }
}

@mixin responsive($attr, $full, $mid:false, $narrow:false) {
  #{$attr}: #{$full};
  @if $mid {
    @include max-width($site-width-mid) {
      #{$attr}: #{$mid};
    }
  }
  @if $narrow {
    @include max-width($site-width-narrow) {
      #{$attr}: #{$narrow};
    }
  }
}

// Simple mixins for hiding/showing print-only styles

@mixin print {
  @media print {
    @content;
  }
}

@mixin hide-print {
  @media print {
    display: none !important;
  }
}

// SVG background support
// (string encoding functions via http://codepen.io/jakob-e/pen/doMoML)

@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);
  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace +
    str-replace(str-slice($string, $index +
    str-length($search)), $search, $replace);
  }
  @return $string;
}

// Clearfix

@mixin clearfix {
  &:after {
    content: "";
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
}

// Hide Text

@mixin hide-text {
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
}
