.highlight .hll { background-color: #ffffcc }
.highlight  { background: #000000; color: #EEEEEE; }
.highlight .c { color: #9933CC; font-style: italic; } /* Comment */
.highlight .err { color: #EEEEEE; } /* Error */
.highlight .g { color: #EEEEEE; } /* Generic */
.highlight .k { color: #FF6600; } /* Keyword */
.highlight .l { color: #EEEEEE; } /* Literal */
.highlight .n { color: #EEEEEE; } /* Name */
.highlight .o { color: #EEEEEE; } /* Operator */
.highlight .x { color: #EEEEEE; } /* Other */
.highlight .p { color: #EEEEEE; } /* Punctuation */
.highlight .cm { color: #9933CC; font-style: italic; } /* Comment.Multiline */
.highlight .cp { color: #AAFFFF; font-style: italic; } /* Comment.Preproc */
.highlight .c1 { color: #9933CC; font-style: italic; } /* Comment.Single */
.highlight .cs { color: #9933CC; font-style: italic; } /* Comment.Special */
.highlight .gd { color: #8a2be2; font-weight: bold; background-color: #008080 } /* Generic.Deleted */
.highlight .ge { color: #EEEEEE; } /* Generic.Emph */
.highlight .gr { color: #EEEEEE; background-color: #c00000 } /* Generic.Error */
.highlight .gh { color: #ff00ff; font-weight: bold; } /* Generic.Heading */
.highlight .gi { color: #EEEEEE; font-weight: bold; background-color: #00008b } /* Generic.Inserted */
.highlight .go { color: #404040; font-weight: bold; } /* Generic.Output */
.highlight .gp { color: #EEEEEE; } /* Generic.Prompt */
.highlight .gs { color: #EEEEEE; } /* Generic.Strong */
.highlight .gu { color: #ff00ff; font-weight: bold; } /* Generic.Subheading */
.highlight .gt { color: #EEEEEE; background-color: #ff0000 } /* Generic.Traceback */
.highlight .kc { color: #FF6600; } /* Keyword.Constant */
.highlight .kd { color: #FF6600; } /* Keyword.Declaration */
.highlight .kn { color: #FF6600; } /* Keyword.Namespace */
.highlight .kp { color: #FF6600; } /* Keyword.Pseudo */
.highlight .kr { color: #FF6600; } /* Keyword.Reserved */
.highlight .kt { color: #AAAA77; } /* Keyword.Type */
.highlight .ld { color: #EEEEEE; } /* Literal.Date */
.highlight .m { color: #EEEEEE; } /* Literal.Number */
.highlight .s { color: #66FF00; } /* Literal.String */
.highlight .na { color: #EEEEEE; } /* Name.Attribute */
.highlight .nb { color: #EEEEEE; } /* Name.Builtin */
.highlight .nc { color: #EEEEEE; } /* Name.Class */
.highlight .no { color: #339999; } /* Name.Constant */
.highlight .nd { color: #EEEEEE; } /* Name.Decorator */
.highlight .ni { color: #33AA00; } /* Name.Entity */
.highlight .ne { color: #EEEEEE; } /* Name.Exception */
.highlight .nf { color: #EEEEEE; } /* Name.Function */
.highlight .nl { color: #EEEEEE; } /* Name.Label */
.highlight .nn { color: #EEEEEE; } /* Name.Namespace */
.highlight .nx { color: #EEEEEE; } /* Name.Other */
.highlight .py { color: #EEEEEE; } /* Name.Property */
.highlight .nt { color: #FF6600; } /* Name.Tag */
.highlight .nv { color: #FFCC00; } /* Name.Variable */
.highlight .ow { color: #EEEEEE; } /* Operator.Word */
.highlight .w { color: #EEEEEE; } /* Text.Whitespace */
.highlight .mf { color: #EEEEEE; } /* Literal.Number.Float */
.highlight .mh { color: #EEEEEE; } /* Literal.Number.Hex */
.highlight .mi { color: #EEEEEE; } /* Literal.Number.Integer */
.highlight .mo { color: #EEEEEE; } /* Literal.Number.Oct */
.highlight .sb { color: #66FF00; } /* Literal.String.Backtick */
.highlight .sc { color: #66FF00; } /* Literal.String.Char */
.highlight .sd { color: #66FF00; } /* Literal.String.Doc */
.highlight .s2 { color: #66FF00; } /* Literal.String.Double */
.highlight .se { color: #66FF00; } /* Literal.String.Escape */
.highlight .sh { color: #66FF00; } /* Literal.String.Heredoc */
.highlight .si { color: #66FF00; } /* Literal.String.Interpol */
.highlight .sx { color: #66FF00; } /* Literal.String.Other */
.highlight .sr { color: #66FF00; } /* Literal.String.Regex */
.highlight .s1 { color: #66FF00; } /* Literal.String.Single */
.highlight .ss { color: #66FF00; } /* Literal.String.Symbol */
.highlight .bp { color: #EEEEEE; } /* Name.Builtin.Pseudo */
.highlight .vc { color: #FFCC00; } /* Name.Variable.Class */
.highlight .vg { color: #FFCC00; } /* Name.Variable.Global */
.highlight .vi { color: #FFCC00; } /* Name.Variable.Instance */
.highlight .il { color: #EEEEEE; } /* Literal.Number.Integer.Long */

.highlight.diff .gh { color: #f1f159; }
.highlight.diff .gu { color: #f1f159; }
.highlight.diff .gd { color: #fc4e2b; background-color: #333333 }
.highlight.diff .gi { color: #3ce670; background-color: #333333 }
