<section id="channel_index">
  <header class="page_head">
    <h1>Edit Channel</h1>
  </header>
  <%= render "form.html", Map.put(assigns, :action, channel_path(@conn, :update, @channel)) %>
</section>
