<section id="tag">
  <header class="page_head">
    <h1 class="channel_header">
      <%= channel_header(@posts_count, @channel, @random) %>
      <%= link to: Routes.channel_path(@conn, :random_by_channel, @channel.name) do %>
        <%= icon("surprise") %>
      <% end %>
    </h1>
  </header>
  <%= render TilexWeb.SharedView, "_posts_list.html", conn: @conn, posts: @posts %>
</section>

<%= render TilexWeb.SharedView, "_pagination.html", conn: @conn, page: @page, posts: @posts %>
