
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9 http://sitemaps.org/schemas/sitemap/0.9/sitemap.xsd">
<url>
<loc>https://hashrocket.com/</loc>
<changefreq>daily</changefreq>
<priority>1.0</priority>
</url>

<%= for post <- @posts do %>
<url>
<loc><%= post_url(@conn, :show, post) %></loc>
<changefreq>monthly</changefreq>
<priority>0.5</priority>
</url>
<% end %>
</urlset>
