Looking for help? At <a href="https://hashrocket.com/elixir">Hashrocket</a>, we
<span style="font-style: normal">💜</span> Elixir! From our many Elixir client
projects, to sponsoring the <a href="http://chicagoelixir.com/">Chicago Elixir
Meetup</a>, to the source code for <a
href="https://github.com/hashrocket/tilex">this application</a>, we are
invested in this community. <a href="https://hashrocket.com/contact-us">Contact
us</a> today to talk about your Elixir project.
