Looking for help?
<a href="https://hashrocket.com">Hashrocket</a>
developers believe that data quality is as important as code quality. We enjoy
all the challenges of relational databases, from finding the fastest index, to
structuring data to fit the needs of an application. We're eager to share our
experiences; check out
<a href="https://www.pgcasts.com">PG Casts</a>,
our series of free PostgreSQL screencasts.
