Every developer at <a href="https://hashrocket.com">Hashrocket</a> is a Vim
expert. Check out our development environment, <a
href="https://github.com/hashrocket/dotmatrix">Dotmatrix</a>, and if you are in
Chicago, come to the <a href="https://www.meetup.com/Vim-Chicago">Vim Chicago
Meetup</a> hosted at our Chicago office.
