<article class="post">
  <section>
    <div class="post__content copy">
      <h1>
        <%= link(@post.title, to: post_path(@conn, :show, @post)) %>
      </h1>
      <%= @post.body %>
      <footer>
        <p>
          <br/>
          <%= link(display_date(@post), to: post_path(@conn, :show, @post), class: "post__permalink") %>
        </p>
      </footer>
    </div>
  </section>
</article>
