<section id="tag">
  <header class="page_head">
    <h1>
      <%= channel_header(@posts, @channel) %>
    </h1>
  </header>
  <%= for post <- @posts do %>
    <%= render Tilex.SharedView, "post.html", conn: @conn, post: post %>
  <% end %>
</section>
